{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/shop-homepage.css" %}" rel="stylesheet">
    {% block exstacss %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% url 'contact' as contact %}
                    <li {% if request.path == '/' %}class="active"{% endif %}>
                        <a href="{% url "home" %}">Home</a>
                    </li>
                    <li {% if request.path == '/about' %}class="active"{% endif %}>
                        <a href='{% url 'about' %}'>About</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li {% if request.path == '/profile' %}class="active"{% endif %}>
                        <a href='{% url 'profile' %}'>Profile</a>
                    </li>
                    {% endif %}
                    <li {% if request.path == contact %}class="active"{% endif %}>
                        <a href='{% url 'contact' %}'>Contact</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                           Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if not request.user.is_authenticated %}
                            <li><a href='{% url 'account_login' %}'>Login</a></li>
                            <li><a href='{% url 'account_signup' %}'>Sign up</a></li>
                            {% else %}
                            <li><a href='{% url 'account_logout' %}'>Logout</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    {% endblock %}

    <div class="container">

    {% block alert %}
    {% if request.GET.status_message  %}
        <div class="row">
            <div class="{{ request.GET.type_message }}" role="alert">
                <strong>{{ request.GET.status_message }}</strong>
            </div>
        </div>
    {% endif %}
    {% endblock %}

    {% block content %}
    <!-- Page Content -->
        <div class="row">

            {% block sidebar %}
            <div class="col-md-3">
                <p class="lead">KOLIUCHIY</p>
                <div class="list-group">
                    {% for category in categories %}
                    <a href={% url 'category_list' category.slug %} class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Filters</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block main %}
            <div class="col-md-9">

                {% block carousel %}
                <div class="row carousel-holder">
                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://placehold.it/800x300" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endblock %}

                {% block thumbnails %}
                <div class="row">
                    {% for article in articles %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img class="img-responsive" alt="Responsive image" src="{{ article.image.url }}"/>
                            <div class="caption">
                                <h4 class="pull-right">${{ article.price }}</h4>
                                <h4><a href={% url 'article_detail' article.slug %}>{{ article.producer }} {{  article.model }}</a>
                                </h4>
                                <p>{{ article.description }}</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% include "shop/pagination.html" with page=articles %}
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
    {% endblock %}

    </div>

    {% block footer %}
    <div class="container">
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Koliuchiy</p>
                </div>
            </div>
        </footer>
    </div><!-- /.container -->
    {% endblock %}


    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    {% block script %}{% endblock %}


</body>

</html>
