{% extends "base.html" %}

{% load static %}

{% block main %}
<div class="col-md-9">
<div class="thumbnail">
    <img class="img-responsive" alt="Responsive image"
        src="{% if article.image %}{{ article.image.url }}
             {% else %}{% static 'img/default_art.jpg' %}{% endif %}"
    <div class="caption-full">
        <h4 class="pull-right">${{ art.price }}</h4>
        <h4><a href="#">{{ art.producer }} {{  art.model }}</a></h4>
        <p>{{ art.description }}</p>

    <div class="ratings">
        <p class="pull-right">{{ comments.count }}rewiews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
        </p>
    </div>
</div>

<div class="well">

    <div class="text-right">
        <a class="btn btn-success" href='{% url 'shop:comment_article' art.slug %}'>Leave a Review</a>
    </div>

    {% for comment in comments %}
    <hr>
    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            {{ comment.name }}
            <span class="pull-right">{{ comment.created }}</span>
            <p>{{ comment.body|linebreaks }}</p>
        </div>
    </div>
    {% empty %}
    <p>There are no reviews yet.</p>
    {% endfor %}
</div>
</div>
<div class="row">
    <h2>You may also like this items</h2>
    {% for article in similar_articles %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img class="img-responsive" alt="Responsive image" src="{{ article.image.url }}"/>
            <div class="caption">
                <h4 class="pull-right">${{ article.price }}</h4>
                <h4><a href='{% url 'shop:article_detail' article.slug %}'>{{ article.producer }} {{  article.model }}</a>
                </h4>
                <p>{{ article.description }}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}
