{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block alert %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <strong>Please, correct next errors!</strong>
    </div>
{% endif %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ title }}</h1>
        <form class="" action='{% url 'shop:contact' %}' method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="submit-button" value="submit form" class='btn btn-primary'>
        </form>
    </div>
</div>
{% endblock %}
